{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Registration page" %}{% endblock head_title %}
{% block extra_head %}    
<link rel="stylesheet" href="{% static 'css/registration.css' %}" />
{% endblock %}
<body>
  {% block content %}
  {% get_providers as socialaccount_providers %}
  <header><img src="{% static 'images/img1.png' %}" alt="" class="logo-image" /></header>

  <div class="container">
    <div class="large-image">
      <img src="{% static 'images/img2.png' %}" alt="" class="main-image" />
    </div>

    <div class="one">
      <h1>Create account</h1>
      <br />
      <p><b>The world's leading QR code generator</b></p>

      <br />

      <br />

      <form method="post">
        {% csrf_token %}
        <label for="email">Email address</label>
        <br /><input type="email" id="email" placeholder="sample@gmail.com" />

        <br />

        <br />

        <label for="password">Password</label>
        <br /><input type="password" id="password" placeholder="Enter password here" />

        <br />

        <br />

        <input type="submit" value="Register" class="btn1">
      </form>

      <br />

      <br />

      <p class="two"><small>or continue with</small></p>
      <br />
      <br />

      <div class="three">
        <a href="google.com"><button type="button" class="btn2">
            <img src="{% static 'images/img4.png' %}" alt="" class="img3" />Sign up with Google
          </button></a>

        <a href="facebook.com"><button type="button" class="btn3">
            <img src="{% static 'images/img3.png' %}" alt="" class="img2" />sign up with facebook
          </button></a>
      </div>
    </div>
  </div>
  {% endblock content %}
</body>

</html>