{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "QRCREATE-Dashboard" %}{% endblock head_title %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
{% endblock %}
<html>

<body>
  {% block content %}
  <div class="container">
    <div class="one">
      <a href="{% url 'home' %}" id="home">
        <img src="{% static 'images/logo2.png' %}" alt="logo" id="logo" />
      </a>
      <br />

      <br />

      <br />

      <br />

      <a href="#codes" class="codes"><img src="{% static 'images/barcode.ico' %}" alt="" id="codes" /><b>My QR
          codes</b></a>
      <br />

      <br />
      <a href="#Billing" class="billing"><img src="{% static 'images/billing.png' %}" alt="" id="billing" /> Billing</a>
      <br />

      <br />
      <a href="#Users" class="users"><img src="{% static 'images/users.png' %}" alt="" id="users" />Users</a>
      <br />

      <br />
      <a href="#Plans" class="plans"><img src="{% static 'images/plan.png' %}" alt="" id="plans" />Plans and prices</a>
      <br />

      <br />
      <a href="#Contact" class="contact"><img src="{% static 'images/contact.png' %}" alt="" id="contact" />Contact
        Us</a>
      <br />

      <br />
      <a href="#Settings" class="settings"><img src="{% static 'images/settings.png' %}" alt=""
          id="settings" />Settings</a>

      <br />

      <br />

      <br />
      <a href="{% url 'logout' %}" class="log"><img src="{% static 'images/exit.ico' %}" alt="" id="log" />Logout</a>

      <br />

      <br />
      <a href="Profile" class="profile"><img src="{% static 'images/profile.ico' %}" alt=""
          id="profile" />{{request.user.username}}</a>

      <br />

      <br />
      <button id="btn1">Trial</button>
    </div>

    <div class="top">
      <input type="text" placeholder="Search.." />
      <br />

      <br />

      <br />
      <div class="two">
        <h1 id="code">My QR Codes</h1>
        <a href=""><button id="btn3" class="folder">
            <img src="{% static 'images/folder.png' %}" alt="" id="folder" />Create Folder
          </button></a>
        <a href="{% url 'types' %}" id="type"><button id="btn2" class="qr">
            <img src="{% static 'images/qrcode.png' %}" alt="" id="qr" />Create QR Code
          </button></a>
      </div>

      <br />

      <br />

      <br />

      <br />

      <br />

      <div class="three">
        <p id="text">MY FOLDERS</p>

        <br />

        <a href=""><button id="btn4" class="folder">
            <img src="{% static 'images/folder.png' %}" alt="" id="folder" /> Create Folder
          </button></a>
      </div>

      <br />

      <br />

      <br />

      <div class="four">
        <div>
          <p>MY QR CODES</p>
          <img src="{% static 'images/check.ico' %}" alt="" id="check" />
        </div>
        <form action="">
          <label for="">QR code status</label>
          <br />
          <select name="" id="status">
            <option value="">Active</option>
            <option value="">All</option>
          </select>
        </form>

        <form action="">
          <label for="">QR code type</label>
          <br />
          <select name="" id="type">
            <option value="">All</option>
            <option value="">Active</option>
          </select>
        </form>

        <form action="">
          <label for="">Sort by</label>
          <br />
          <select name="" id="duration">
            <option value="">Most recent</option>
            <option value="">oldest</option>
          </select>
        </form>
      </div>

      <br />

      <br />

      <br />
      <div class="five">
        <a href="{% url 'types' %}" id="type"><button id="btn5" class="qr">
          <img src="{% static 'images/qrcode.png' %}" alt="" id="qr" />Create QR Code
        </button></a>
      </div>
    </div>
  </div>
  {% endblock %}
</body>

</html>