* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  color: whitesmoke;
}
main {
  margin: 0 auto;
  width: 50%;
  justify-items: center;
}
.heading {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-align: center;
  padding-top: 5%;
  color: orangered;
  font-size: 70px;
}
.second-heading {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 2%;
  font-weight: 100;
  text-transform: capitalize;
  font-size: 30px;
  color: black;
}
.paragraph {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 100;
  padding-top:5%;
  font-size: 20px;
  line-height: 35px;
  color: black;
}

.image {
  background-image: url(FB_IMG_1632361671640__2_-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250px;
  margin-left: 25%;
  margin-top:5%;
  background-color: whitesmoke;
}
#links {
  margin-top:10%;
  display:inline-flex;
  gap:30px;
}
#first-link {
  color: rgb(0, 128, 68);
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size:20px;
  font-weight:300;
  padding: 40px;
  border: 1px solid black;
  border-radius: 80px;
  background-color:rgb(0, 225, 255);
  transition: transform 1s ease-in ;

}
#first-link:hover{
    background-color: whitesmoke;
    transform: translateY(-10%);
    animation:bottom-to-top 1s ease-in;
}
#second-link {
  color: rgb(0, 89, 255);
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size:20px;
  font-weight:300;
  padding: 40px;
  border: 1px solid black;
  border-radius: 80px;
  background-color: rgb(127, 182, 255);
  transition: transform 1s ease-in ;
}
#second-link:hover{
background-color:whitesmoke;
transform: translateY(-10%);
    animation:bottom-to-top 1s ease-in;
}
#third-link {
  color: rgb(255, 72, 0);
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size:20px;
  font-weight:300;
  padding: 40px;
  border: 1px solid black;
  border-radius: 80px;
  background-color: rgb(248, 168, 18);
  transition: transform 1s ease-in ;
}
#third-link:hover{
    background-color:whitesmoke;
    transform: translateY(-10%);
    animation:bottom-to-top 1s ease-in;
}
#fourth-link {
  color: rgba(10, 67, 189, 0.753);
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size:20px;
  font-weight:300;
  padding: 40px;
  border: 1px solid black;
  border-radius: 80px;
  background-color:rgb(241, 14, 63);
  transition: transform 1s ease-in ;
}
#fourth-link:hover{
    background-color:rgb(245, 245, 245);
    transform: translateY(-10%);
    animation:bottom-to-top 1s ease-in;
    
}
@keyframes bottom-to-top {
    100%{
        transform: translateY(-10%);
}
}
