* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

header {
  text-align: center;
  background-color: #041331;
}

body {
  background-color: #c4d5f8;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin: 80px;
}

#email,
#password {
  width: 450px;
  font-size: 16px;
  background-color: #c4d5f8;
  border-radius: 6px;
  padding: 5px;
  margin: 5px;
}

.btn1 {
  font-size: 16px;
  width: 450px;
  border-radius: 6px;
  background-color: #072f94;
  opacity: 50%;
  color: #c4d5f8;
  padding: 5px;
  margin: 5px;
}

h1 {
  font-size: 30px;
}

h6 {
  font-size: 16px;
}

::placeholder {
  font-size: 10px;
}

.two {
  text-align: center;
}

.image {
  height: 29px;
  margin: 5px;
}

.img2 {
  height: 18px;
  width: 18px;
  margin-right: 10px;
}

.img3 {
  height: 18px;
  width: 18px;
  margin-right: 10px;
}

.three {
  display: flex;
  justify-content: space-evenly;
  background-color: #c4d5f8;
  gap: 100px;
  padding: 10px;
  margin: 5px;
}

.btn2,
.btn3 {
  background-color: #c4d5f8;
  border-color: white;
  border-radius: 6px;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
