* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #c4d5f8;
}
h4 {
  font-size: 48px;
  font-family: "Lato", sans-serif;
}
p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin-bottom: 1%;
  margin-top: 2%;
}
.input-details {
  display: flex;
  gap: 30px;
  padding-top: 5%;
  justify-content: center;
}
.second-path {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.img {
  display: flex;
  justify-content: center;
  background-color: #041331;
}
.paragraph {
  font-size: 28px;
  font-family: "Lato", sans-serif;
}
#email-address,
#input-password {
  height: 50px;
  width: 500px;
  border: 3px solid black;
  border-radius: 16px;
  margin-top: 8px;
  padding-left: 6px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  border-width: 1px;
}
/* p {
  
} */
a {
  text-transform: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.btn {
  padding: 7px;
  text-align: center;
  background-color: #072f94;
  width: 500px;
  height: 50px;
  border-radius: 10px;
  margin-top: 2%;
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.continue {
  text-align: center;
  margin-top: 5%;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}
.f-g {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-around;
}
.google {
  width: 200px;
}
.facebook {
  width: 250px;
}
.facebook,
.google {
  padding: 5px;
  text-align: end;
  border-radius: 5px;
  height: 50px;
  margin-top: 3%;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin-bottom: 2px;
  border: 2px solid white;
  background-color: #c4d5f8;
  cursor: pointer;
}
.icon-first {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.google-sign,
.facebook-sign {
  margin-top: 5px;
}
.icon-second {
  display: flex;
  justify-content: center;
  gap: 15px;
}
